.login_form{
    align-items: center;
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
}

.login_form input{
    width: 30vw;
}

input,button{
    padding: 5px 10px;
    background: none;
    border: 2px solid red;
}

.login_details{
    display: flex;
    flex-direction: column;
}

.login_register{
    display: flex;
    justify-content: space-between;
}