.login__page{
    height: 50vh;
    display: block;
    background-color: aqua;
}

.login{
    display: inline-block;
    top: 100px;
    position: absolute;
    width: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.login__form{
    display: flex;
    flex-direction: column;
}

.login__submit{
    display: flex;
    justify-content: space-between;
}

.hidden__form{
    visibility: hidden;
}

.signup{
    display: inline-block;
    position: absolute;
    top: 100px;
    width: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.signup__form{
    display: flex;
    flex-direction: column;
}

.signup__submit{
    display: flex;
    justify-content: space-between;
}

.row__signup{
    display: flex;
}

.element__signup{
    width: 100%;
}